.deps
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.cache
config.h
config.h.in
config.log
config.status
configure
gateways/lj2news
stamp-h1
config.aux/depcomp
config.aux/install-sh
config.aux/missing
gateways/bzr2news
TAGS
GPATH
GRTAGS
GSYMS
GTAGS
debian/newstools
debian/rjk-nntp-tools
newstools-*.tar.gz
rjk-nntp-tools*.tar.gz
rjk-nntp-tools_*.changes
debian/files
debian/substvars.*
./newstools-*
newstools_*
config.aux/mkinstalldirs
*.deb
spoolstats/spoolstats
rjk-nntp-tools-*
*.dsc
debian/rjk-spoolstats
graph/t
*.o
*.a
*~
spoolstats/spoolstats.1.html
gateways/bzr2news.1.html
gateways/lj2news.1.html
gateways/setup-lj2news.1.html
products
lib/seen-t
