Source: rjk-nntp-tools
Maintainer: Richard Kettlewell <rjk@greenend.org.uk>
Section: news
Priority: optional
Standards-Version: 3.8.4.0
Build-Depends: libgcrypt-dev, libcurl4-gnutls-dev|libcurl-dev, libexpat-dev
Homepage: http://www.greenend.org.uk/rjk/2006/newstools.html

Package: rjk-nntp-tools
Architecture: any
Depends: ${shlibs:Depends}
Recommends: lynx,bzr,git
Description: Miscellanous Usenet news tools
 lj2news: post Livejournal articles fetched by RSS to news
 bzr2news: post bzr changelog entries to news
 git2news: post git changelog entries to news

Package: rjk-spoolstats
Architecture: any
Depends: ${shlibs:Depends}
Description: Usenet news spool analysis
 Creates an HTML report about the contents of a news spool.
 .
 Draws graphs and generates sortable tables for each of selected
 hierarchies and for their union.  Reports the rate of posting by
 article and by byte, and the number of distinct posters.  Also
 reports the popularity of different user agents.
