Source: rjk-nntp-tools
Maintainer: Richard Kettlewell <rjk@greenend.org.uk>
Section: news
Priority: optional
Standards-Version: 3.8.4.0
Build-Depends: libgcrypt-dev, libcurl4-gnutls-dev|libcurl-dev, libexpat-dev
Homepage: http://www.greenend.org.uk/rjk/2006/newstools.html

Package: rjk-nntp-tools
Architecture: any
Section: news
Priority: optional
Depends: ${shlibs:Depends}
Recommends: lynx,bzr
Description: Miscellanous Usenet news tools
 lj2news: post Livejournal articles fetched by RSS to news
 bzr2news: post bzr changelog entries to news
 tla2news: post Arch changelog entries to news (obsolete, may be removed)

Package: rjk-spoolstats
Architecture: any
Section: news
Priority: optional
Depends: ${shlibs:Depends}
Description: Usenet news spool analysis
 Creates an HTML report about the contents of the spool.
 A work in progress!

